@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Inter', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

/* Make Grid.js cells highlight on hover */
.gridjs-table td:hover {
  background-color: #d1fae5 !important; /* Tailwind's green-100 */
  transition: background-color 0.2s ease;
  cursor: pointer;
}
